.card-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 50%;
    word-break: break-all;
    hyphens: manual;
}

.padding {
    padding-top: 5%;
}

.form-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}